{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-6 mx-auto">
        <h1>{{ 'message.passwordResetSuccess' | trans }}</h1>
        <p>{{ 'message.backToLogin' | trans }} <br><a href="{{ path('leap_one_user_login') }}">{{ 'label.login' | trans }}</a></p>
    </div>
{% endblock %}

