{% extends 'base.html.twig' %}

{% block content %}
    <style>
        body {
            padding-top: 5rem;
        }
        .password-reset-success {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
    <div class="password-reset-success">
        <h1>We have sent you an email with which you can reset your password</h1>
        <p class="lead">Back to login. <br><a href="{{ path('leap_one_user_login') }}">Login</a></p>
    </div>
{% endblock %}

