{% extends 'base.html.twig' %}

{% block content %}
    <style>
        body {
            padding-top: 5rem;
        }
        .password-reset-success {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
    <div class="password-reset-success">
        <h1>{{ 'message.passwordResetSuccess' | trans }}</h1>
        <p class="lead">{{ 'message.backToLogin' | trans }} <br><a href="{{ path('leap_one_user_login') }}">{{ 'label.login' | trans }}</a></p>
    </div>
{% endblock %}

